<header class="">
  <div class="d-flex align-items-center justify-content-between container">

    <div>
      <ul fxLayout="row" class="header-navs p-0 m-0 align-items-center first-nav" >
        <li><a href="" class="logo"><img src="assets/images/logo-dummy.png" alt="" width="90"></a></li>
        <li><a href="">Categories</a></li>
        <li><a href="">Help</a></li>
        <li><a href="">Gift</a></li>
      </ul>
    </div>
    
    <div class="login-cred">
      <a class="login" href="">Login</a>
      <a class="sign" href="">Signup</a>
    </div>
  </div>
</header>


<section class="banner">
  <div class="container">
    <div class="top-content">
      <div class="row m-h-100 d-flex align-items-center">
        <div class="col-md-6 bring-to-top">
          <div class="">
            <h1 class="text-success l-h font-70"><b>
              Bring the store <br> to your door.
            </b>
            </h1>
            <p class="l-h-1-5 font-22 text-muted">Find out what a difference same-day <br>delivery can make in your life</p>
          </div>
          <br>
          <div>
            <div class="zip-code">
              <div class="map">
                <i class="fa fa-map-marker"></i>
              </div>
              <div class="input">
                <input type="text" class="form-control" placeholder="Enter Zip Code">
              </div>
              <div class="arrow"><i class="fa fa-long-arrow-right"></i></div>
            </div>
          </div>
          <br>
          <br>
          <div>
            <p class="text-muted font-18">Download yursayur mobile app</p>
            <div>
              <img width="270" src="assets/images/app-icon.png" alt="">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="text-center basket">
            <img src="assets/images/basket.png" width="400" alt="">
            <img class="item item-1" src="assets/images/1.png" alt="">
            <img class="item item-2" src="assets/images/2.png" alt="">
            <img class="item item-3" src="assets/images/3.png" alt="">
            <img class="item item-4" src="assets/images/4.png" alt="">

          </div>
        </div>
      </div>
    </div>  
  </div>
</section>

<!-- <div fxLayout="row" fxLayoutAlign="space-between">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis commodi labore nemo, recusandae ullam vel expedita voluptatum nisi, ipsum harum sint veritatis eius? Nemo perferendis cupiditate aperiam animi, odit deleniti!</p>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae atque iusto at. Excepturi nulla optio cupiditate aut ad. Voluptate molestiae debitis quia quo omnis sed accusantium, deserunt dolorem nobis magnam?</p>
</div> -->





<div class="demo-content">
  <router-outlet></router-outlet>
</div>